<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\DbUpAndDown.SqlCe\packages.config" />
  <repository path="..\src\DbUpAndDown.Sqlite\packages.config" />
  <repository path="..\src\DbUpAndDown.Tests\packages.config" />
  <repository path="..\src\Samples\SQLiteSampleApplication\packages.config" />
</repositories>